.wrapper {
    background-color: #23272b;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: ' Nunito';
    color: #bbc4cc;
    padding: 1rem 3rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem !important;
}

.btn-request {
    height: 2.8rem !important;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 8rem;
}

.loginSection {
    background-color: #16191C;
    padding: 1rem 2rem;
    width: 35%;
    margin-top: 1.5rem;
}

.label {
    color: #fff;
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 1rem;
}

.input {
    height: 2.5rem;
    background-color: #2E3439 !important;
    border: none !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.pass-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textLink {
    color: #2B8CD6 !important;
    font-weight: 600;
    font-size: .85rem;
    padding-bottom: .2rem;
    text-decoration: none;
}

.backToLogin{
    font-weight: 600;
    font-size: .85rem;
    padding-bottom: .2rem;
    padding-top: .5rem;
    text-align: center;
}

.errorMsg {
    color: #f56;
    font-size: .8rem;
    padding: .4rem
}

.toast {
    margin: 1rem auto;
    background-color: #42ba96 !important;
}

.toast:hover{
    cursor: pointer;
}

.toastBody{
    color: #fff !important;
    text-align: center !important;
}

.btn {
    background-image: linear-gradient(to right, #2B8CD6 , #29C4A9);
    border: none !important;
    height: 2.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 1450px){
    .loginSection {
        width: 45%;
    }
}

@media only screen and (max-width: 968px){
    .loginSection {
        width: 75%;
    }
}

@media only screen and (max-width: 600px){
   .wrapper{
       padding: 1rem
   }
    .loginSection {
        width: 100%;
        margin: 1rem 0;
    }
}




